.section {
  padding-top: 250px;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 400px;
  justify-content: space-between;
  position: relative;
  
  &Title {
    color: #dbe2ef;
    font: 42px 'Cantarell', serif;
    line-height: 37px;
    transition: .3s;
    cursor: crosshair;
    
    &:hover {
      opacity: 0.65;
    }
  }
  
  &SubTitle {
    font: 34px 'Cantarell', Serif;
    line-height: 60px;
    letter-spacing: 0.05em;
    color: #dbe2ef;
    transition: .3s;
    cursor: crosshair;
    
    &:hover {
      opacity: 0.65;
    }
  }
  
  &Input {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 60px;
    margin-bottom: 20px;
  }
  
  &InputField {
    border: 3px solid #66B6FF;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    padding: 10px 10px;
    font: 1rem/1.4 "Cantarell", sans-serif;
    background-color: #dbe2ef;
    
  }
  
  &InputButton {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    cursor: pointer;
    background: rgba(255, 86, 127) url('./img/1296902.svg') no-repeat center center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.2s;
    
    &:hover:active {
      transform: scale(0.95);
    }
  }
  
  &Result {
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    border-radius: 10px;
    flex: 1 0 auto;
    top: 410px;
    max-width: 1440px;
    height: 500px;
    padding: 15px;
    background-color: rgba(0, 222, 204, 0.20);
    overflow: scroll;
    overflow-x: hidden;
    transition: .7s;
    
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
}

.card {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin: 15px;
  
  &Img {
    max-width: 350px;
  }
  
  &Content {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
  }
  
  &TextContent {
    display: flex;
    flex-flow: column;
    gap: 20px;
    
    &Text {
      font: 24px 'Cantarell', Serif;
      line-height: 34px;
      letter-spacing: 0.05em;
      color: #dbe2ef;
      transition: .3s;
      cursor: crosshair;
      
      &:hover {
        opacity: 0.65;
      }
    }
  }
}


.up {
  position: relative;
  @media screen and (max-width: 700px) {
    display: none;
  }
  
  &Img {
    position: fixed;
    right: 10px;
    width: 150px;
    height: 150px;
    cursor: crosshair;
    
    &:hover {
      opacity: .75;
    }
  }
  
  &Link {
    scroll-behavior: smooth;
  }
}


