.section {
  padding-top: 450px;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.tittleWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
  
  &Decor {
    width: 28.8%;
    height: 3px;
    background: #FF4B77;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    transition: .5s;
    
    &:hover {
      width: 100%;
    }
  }
  
  &Title {
    font: 400 35px 'Cantarell Thin', serif;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.2vw;
    box-shadow: 0px 3px 3px rgba(0, 222, 204, 0.25);
  }
  
  &SubTitle {
    font: 400 24px 'Cantarell Thin', serif;
    box-shadow: 0px 3px 3px rgba(0, 222, 204, 0.25);
    letter-spacing: 0.05em;
    color: white;
  }
}


.contentWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 47.57px;
  justify-content: space-between;
  padding-top: 85px;
  overflow-x: hidden;
  
}

.card {
  width: 100%;
  height: auto;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  gap: 15px;
  padding: 15px 15px 15px 15px;
  box-shadow: 0px 10px 10px rgba(0, 222, 204, 0.25);
  
  &Item {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
  
  &Img {
    max-width: 340px;
    max-height: 485px;
  }
  
  &Link {
    color: white;
  }
  
  &Title {
    font: 700 34px "Cantarell Thin", Serif;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    transition: .3s;
    
    &:hover {
      color: rgba(255, 255, 255, 0.7);
      opacity: 0.75;
    }
  }
  
  &Btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    gap: 20px;
    
    &Btn {
      text-transform: uppercase;
      background-color: #7f03b0;
      padding: 10px 10px 10px 10px;
    }
  }
}

.cardContent {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 10px 10px 10px 10px;
  
  
  &Genre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: white;
    padding: 5px 5px 5px 5px;
    
    &Other {
      display: flex;
      flex-direction: column;
      gap: 30px;
      justify-content: center;
    }
  }
  
  &P {
    font: 1.2vw "Roboto Thin", sans-serif;
    color: white;
    text-align: justify;
  }
  
  &Text {
    display: flex;
    flex-direction: column;
    padding: 15px 15px 15px 15px;
    gap: 20px;
    text-align: justify;
  }
}


a {
  text-decoration: none;
}