.section {
  padding-top: 450px;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.modalWrapper {
  max-width: 1440px;
  margin: 0 auto;
  opacity: 0;
  transition: 1s all ease-in-out;
  
  &Atcive {
    opacity: 1;
    visibility: visible;
    transition: 1s all ease-in-out;
    
  }
}

.tittleWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
  
  &Decor {
    width: 28.8%;
    height: 3px;
    background: #FF4B77;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    transition: .5s;
    
    &:hover {
      width: 100%;
    }
  }
  
  &Title {
    font: 400 35px 'Cantarell Thin', serif;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.2vw;
    box-shadow: 0px 3px 3px rgba(0, 222, 204, 0.25);
  }
  
  &SubTitle {
    font: 400 24px 'Cantarell Thin', serif;
    box-shadow: 0px 3px 3px rgba(0, 222, 204, 0.25);
    letter-spacing: 0.05em;
    color: white;
  }
}


.contentWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding-top: 85px;
  padding-bottom: 85px;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 0;
  margin: 20px;
  padding: 3px;
  gap: 15px;
  filter: drop-shadow(0px 50px 50px rgba(0, 0, 0, 0.2));
  
  &Item {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  &Img {
    filter: drop-shadow(0px 5px 30px rgba(0, 222, 204, 0.25));
    border-radius: 15px;
    width: 240.43px;
    height: 285.63px;
  }
  
  &Link {
    color: white;
  }
  
  &Title {
    font: 700 20px 'Cantarell Thin', sans-serif;
    font-family: 'Cantarell Thin', sans-serif;
    line-height: 25px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    
    &:hover {
      color: rgba(255, 255, 255, 0.7);
      opacity: 0.75;
    }
  }
  
  &Btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    gap: 20px;
    
    &Btn {
      text-transform: uppercase;
      color: white;
      background: linear-gradient(107.56deg, #212121 0%, rgba(13, 115, 119, 0.2) 53.12%, rgba(4, 4, 4, 0.2) 100%) no-repeat;
      padding: 15px 15px 15px 15px;
      border: none;
      transition: .1s;
      
      &:active {
        transform: scale(0.95);
      }
    }
  }
}

.cardContent {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  
  &Genre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    
    &Other {
      display: flex;
      flex-direction: column;
      gap: 15px;
      justify-content: center;
    }
  }
  
  &P {
    font: 20px "Roboto Thin", sans-serif;
    color: white;
    text-align: justify;
  }
}

.other {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  &Img {
    height: 20px;
    fill: #FF4B77;
  }
  
  &Price {
    font: 20px 'Cantarell Thin', sans-serif;
    color: white;
  }
}

.settingsSection {
  padding-top: 600px;
}

.settings {
  max-width: 64px;
  cursor: pointer;
  
  &Img {
    transition: .5s all ease-in-out;
    
    &:hover {
      transform: rotate(90deg);
    }
  }
}

