.body {
  position: relative;
  font-size: 16px;
  background: linear-gradient(107.56deg, #212121 0%, #0D7377 53.12%, rgba(4, 4, 4, 0.7) 100%) no-repeat;
}

.header {
  padding-bottom: 20px;
  position: relative;
}

.footer {
  padding-bottom: 20px;
  position: relative;
  z-index: 10;
}
