.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.recommendationCard {
  max-width: 250px;
  min-height: 400px;
  
  .recommendationCardImg {
    max-width: 240px;
    max-height: 285px;
  }
}
